.ContactButton{
    font-size: 1.125rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 20vh;
    border: none;
    border-radius: 0.625rem; /* 10px */
    padding: 0.4375rem 0rem 0.3125rem 0rem; /* 7px 0px 5px 0px */
    margin-right: 0.625rem; /* 10px */
    cursor: pointer;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.ContactButton:focus {
    outline: 2px solid #237C91; /* Exempel på en fokusindikator */
    outline-offset: 2px;
}

.BookingButton{
font-size: 1.125rem;
    background-color: var(--text1-color);
    color: var(--primary-color);
    width: 20vh;
    border: none;
    border-radius: 0.625rem; /* 10px */
    padding: 0.4375rem 0rem 0.3125rem 0rem; /* 7px 0px 5px 0px */
    margin-right: 0.625rem; /* 10px */
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {

    .contactButton{
        font-size: 2rem;
        padding: 1rem 1rem 1rem 1rem; /* 7px 0px 5px 0px */
    width: 30vh;
    }
    .BookingButton{
        font-size: 1.5rem;
        background-color: var(--text1-color);
    color: var(--primary-color);
        width: 20vh;
        border: none;
        border-radius: 0.625rem; /* 10px */
        padding: 0.5rem 0rem 0.5rem 0rem; /* 7px 0px 5px 0px */
        margin-right: 0.625rem; /* 10px */
        cursor: pointer;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    }
    
    /* Styles for desktop */
    @media (min-width: 820px) {
       
        .contactButton{
            font-size: 1.7rem;
            padding: 0.8rem 0rem 0.8rem 0rem; /* 7px 0px 5px 0px */
        
        }
        .BookingButton{
            font-size: 1.7rem;
            padding: 0.7rem 0rem 0.7rem 0rem;
        }
    
    }
    
    /* Styles for large desktops */
    @media (min-width: 1024px) {
     
        .contactButton{
            font-size: 1.9rem;
            padding: 0.9rem 0rem 0.9rem 0rem; /* 7px 0px 5px 0px */
        
        }
        .BookingButton{
            font-size: 1.7rem;
            padding: 0.7rem 0rem 0.7rem 0rem;
        } 
    }
    
    /* Styles for large desktops */
    @media (min-width: 1200px) {
        .BookingButton{
            font-size: 1.5rem;
            width: 10vh;
        }
    }