.footer{
    display: flex;
flex-direction: column;
    text-align: center;
    
}
.footer h3{
    padding: 0.5rem;
}
.footer h4{
    padding: 0.5rem;
}
.ContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;  /* Adjust width as necessary */
    padding: 20px;
    gap: 1rem;
    margin: auto;
}

.ContactForm label {
    display: block;
    font-size: 0.9rem;
    color: #333; /* Dark grey for text for better readability */
    margin-bottom: 0.5rem; /* Space between label and input field */
}

.ContactForm input, 
.ContactForm textarea {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded borders for the inputs */
    box-sizing: border-box; /* Box-sizing to include padding in width */
}

.ContactForm textarea {
    height: 100px; /* Fixed height for the textarea */
    resize: none; /* Disable resizing */
}


.ContactForm button:hover, .ContactForm button:focus {
    background-color: #0056b3; /* Darker blue when hovered or focused */
}

.ContactForm button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Style for error messages */
.ValidationError {
    color: red; /* Error messages in red */
    font-size: 0.8rem; /* Smaller text for error messages */
    margin-top: 0.5rem;
}
.bootcamp{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: solid 0.3rem #1d3d6b;
}

.Socials {
    display: flex;
    justify-content: center;
    gap: 20px; /* This sets space between the child elements */
    padding-top: 0.5rem;
}

.instagram{
    fill: #C13584; /* Facebook blue */
    display: inline-block;
    width: 9%; 
}
.youtube{
    fill: #FF0000; /* Facebook blue */
    display: inline-block;
    width:12%;   
}
.facebook{
    fill: #4267B2; /* Facebook blue */
    display: inline-block;
    width: 10%;
}

.svgs{
    width: 100%; /* Make the SVG fill the width of its container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    }

    /* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {
  

}



/* Styles for desktop */
@media (min-width: 820px) {
  
}

/* Styles for large desktops */
@media (min-width: 1024px) {
    .footerGrid h3{
        padding: 0.5rem;
        font-size: 2.5rem;
        
    }
    .footerGrid h4{
        padding: 0.5rem;
        font-size: 2rem;
    }
}

/* Styles for large desktops */
@media (min-width: 1200px) {
  
}