/*Mobile first*/

.mainContainer{
   display: flex;
   flex-direction: column;
justify-content: center;
background-color: var(--third-color);
border-bottom: solid 0.3rem #1d3d6b;

}


.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
  
.profileImage img {
    width: 50%; /* Sätt bredden till 60% av dess container */
    height: auto; /* Låt höjden anpassa sig proportionellt till bredden */
    border-radius: 30%;
  }
  

.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding: 1rem;
color: var(--primary-color)

}
.profileH1{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.profileH2{
    font-size: 1rem;
    color: var(--primary-color)
}

/*.profileInfo{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 1rem;
color: var(--primary-color)
}*/
.profileContainer p{

line-height: 29px;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin:20px;
    padding-bottom: 20px;
}
.iconsGithub{
    order: 1;
}
.iconsGithub img{
width: 100%;
height: auto;
}

.iconsLinkedin{
    order: 2;
  
}
.iconsLinkedin img{
    width: 100%;
    height: auto;
}


/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {
    .featuredContainers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
        }
        }
        
        /* Styles for desktop */
        @media (min-width: 820px) {
           
            .featuredContainers{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            }
        
        }
        
        /* Styles for large desktops */
        @media (min-width: 1024px) {
         
           .desktop{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            }
            .profileContainer{
                margin-top: 3rem;
            }
            .profileImage img {
                width: 70%; /* Sätt bredden till 60% av dess container */
                height: auto; /* Låt höjden anpassa sig proportionellt till bredden */
                border-radius: 30%;
              }
        }
        
        /* Styles for large desktops */
        @media (min-width: 1200px) {
            .featuredContainers{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 2rem;
            }
        }
    
    
    