/*Mobile first*/

.mainContainer{
   display: flex;
   flex-direction: column;
justify-content: center;
background-color: var(--third-color);

}


.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 80%;
}
.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
  
  .image {
    width: 60%; /* Sätt bredden till 60% av dess container */
    height: auto; /* Låt höjden anpassa sig proportionellt till bredden */
  }
  

.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
.profileH1{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.profileH2{
    font-size: 1rem;
    color: var(--primary-color)
}

.profileInfo{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 1rem;
color: var(--primary-color)
}
.profileInfo p{

line-height: 29px;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    margin:20px;
    padding-bottom: 20px;
}
.iconsgithub{
    width: 32px;
    width: 32px;
    order: 1;
}
.iconsgithub img{
width: 23.25px;
height: 22.7px;
}

.iconslinkedin{
    width: 32px;
    width: 32px;
    order: 2;
  
}
.iconslinkedin img{
    width: 23.25px;
    height: 22.7px;
}


/*tablet*/
@media(min-width: 740px) and (max-width: 1024px){

.logo{
  background-color: #FCEDEA;
}
.logo img{
	width: 100%;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;

        }

   .profile-image{
    display: flex;
    flex-direction: row;
     padding-top: 100px;
 }   
.profile-image img{
    width: 160px;
    height: 170px;
      }
      
.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}
.iprofile-container h1{
        color: #0b24f4;
        font-size: 28px;
        }
    
.profile-container h2{
        color: black;
        font-size: 32px;
        }

       
.profile-info{
    margin: 20px;
    padding: 40px;
    
    
    } 
    }

   
  /*desktop*/ 
@media(min-width: 1025px) {
   
.desktop{
   
display: flex;
flex-direction: row;
width: 100%;
padding-top: 40px;
}

.logo{
	display: inline-block;
	width: 100%;
	
order: 1;
}

.logo img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.profile-image{
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
.profile-image img{
	width: 300px;
	height: 300px;
}
.profile-container{
     display: grid;
 grid-column: 1/2;
   align-content: center;
   padding-left: 10px;
}

.profile-info{
    margin: 20px;
    padding: 40px;
    
    } 
   

}
