

.projects {
   display: flex;
   flex-direction: column;
    justify-content: center;
    background-color:#EDE7E3;

}
.featuredContainers{
    padding: 2rem;
}
.bootcamp{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: solid 0.3rem #1d3d6b;
}
.borderBottom{
    border-bottom: solid 0.3rem #1d3d6b;
    margin-bottom: 1.3rem;

}
.projects h1{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;

}
.projects h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.projects h3{
    font-size: 1rem;
    
}
.projects h4{
    font-size: 0.7rem;
    margin-bottom: 1rem;
    
}
.projects h5{
    font-size: 1rem;
    margin-bottom: 1rem;
    
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
   
  
}
.tags p{
    font-size: 0.7rem;
    color: var(--third-color);
    background-color:var(--tag-color);
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    border-radius: 8px;
}
.featuredText{
display: flex;
flex-direction: column;
justify-content: flex-start;
border: 0.1rem solid #FEF6EB;
padding: 1rem;
margin-bottom: 2rem;
}


.linksproject{

display: flex;
margin-bottom: 2rem;
gap: 1rem;


}
.gitbtn, .livebtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color); /* Adjust the variable as needed */
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: none;
    color: var(--third-color);
    font-size: 0.7rem;
}
.gitbtn p{
  color: var(--primary-color);
  font-size: 0.7rem;
}


.livebtn p{
    font-size: 0.7rem;
    color: var(--third-color); /* Text color, assuming you want it to be white */
}
.bootcamoProjects{
    text-align: center;
}

/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {
.featuredContainers{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2rem;
    }
    }
    
    /* Styles for desktop */
    @media (min-width: 820px) {
       
        .featuredContainers{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    
    }
    
    /* Styles for large desktops */
    @media (min-width: 1024px) {
     
        .featuredContainers{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }
    
    /* Styles for large desktops */
    @media (min-width: 1200px) {
        .featuredContainers{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem;
        }
    }


