
.mainSkills{
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
    justify-content: center;
    font-family: var(--font-family-main);
    color: var(--primary-color);
    text-align: center;
    padding-top: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

}
.bootcamp{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: solid 0.3rem #1d3d6b;
}
.skills{
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
    }
    
    .skills h1{
        color: var(--primary-color);
        font-weight: bold;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
       
    }
    .code{
        padding-bottom: 30px;
        text-align: center;
    }
    .code dt{
        background-color: red;

       
    }
    .toolbox{
        text-align: center;
        padding-bottom: 30px;
    }
    .toolbox dt{
       background-color: var(--primary-color) 
     
    }
    .morelist{
        text-align: center;
        padding-bottom: 30px;
    }
    .more{
        background-color: #778899;
       
    }
  
    .Language{
        background-color: #9678b6;

    }
    .Swedish{
        background-color: black;
        font-weight: bold;
    }
    
    .js{
        background-color: #0B24F4;
        font-weight: bold;
    }
    .tech{
        color: white;
        padding: 0 2px;
    }
    .Cloud{
        background-color: orange;
        font-weight: bold;
    }
    .acces{
        background-color: #12af2c;
        font-weight: bold;
    }
    .dt{
        display: inline-block;
        font-size: 24px;
        margin: 0 0 15px 0;
        color: white ;
        padding: 0.5rem ;
    }
    .dd{
        padding: 5px;

    }


/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
        }
        
        /* Styles for desktop */
        @media (min-width: 820px) {
            .skills{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
              }
                
            }
            
        
        /* Styles for large desktops */
        @media (min-width: 1024px) {
            .skills{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
              }
        }
        
        /* Styles for large desktops */
        @media (min-width: 1200px) {
            .skills{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
              }
        }
    
    
    